<div id="googlemap" style="margin:0 auto; width:60%; height: 360px"></div>

<script src="http://maps.googleapis.com/maps/api/js?sensor=true&libraries=places" type="text/javascript"></script>

<script type="text/javascript">	
<!--

var defaultLat = "42.35843";
var defaultLong = "-71.05977";
var defaultZoom = 16;

// create map and add controls
var mapOptions = {
	zoom: defaultZoom,
	mapTypeId: google.maps.MapTypeId.ROADMAP,
	scrollwheel: false,
	scaleControl: false
};

document.getElementById('googlemap').style.display = 'none';

var map = new google.maps.Map(document.getElementById('googlemap'),mapOptions);


function showMap(showLat,showLong) {

	document.getElementById('googlemap').style.display = 'block';

	// set center point of map to be of the Marker or the Default City
	var centrePoint = new google.maps.LatLng(showLat, showLong);
	map.setCenter(centrePoint);

	marker = new google.maps.Marker({
		map: map,
		draggable: false,
		position: centrePoint
	});

	var defaultImage = new google.maps.MarkerImage("http://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png",
		new google.maps.Size(71, 71),
		new google.maps.Point(0, 0),
		new google.maps.Point(17, 34),
		new google.maps.Size(35, 35));
	marker.setIcon(defaultImage);
	
}

//showMap(defaultLat, defaultLong);

-->
</script>



<div class="hero">
<div class="hero-inner">
<h1>Rate and review Places</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, veritatis, neque, adipisci assumenda doloribus quaerat minima optio suscipit nihil earum quidem sint tempora culpa pariatur delectus cupiditate voluptate aspernatur dignissimos.</p>
<div class="search-bar">
  <div class="search-item">
	  <div class="search-and-submit control-group">
			  <%= form_for :location, :url => new_location_path() do |f| %>
		    <%= text_field_tag :location_search, nil, class: "span12 search-query", type: "search", placeholder: "Search for establishment, hotel, restaurant, city, etc" %>
		    <div class="clear-search">
		    <a href="" onclick="return clearSearch();">&#10799;</a>
        <input type="submit" value="Search">
    </div>
    </div>
 			<% end %>
    </div>
  </div>
</div>
</div>
</div>


<script type="text/javascript">	
<!--


function clearSearch() {
	document.getElementById('location_search') = '';
	return false;
}



function addReviewButtonClicked(e) {
	
	if (!e) var e = window.event;
	// e gives access to the event in all browsers
	
	e.cancelBubble = true;
	if (e.stopPropagation) e.stopPropagation();
	
	add_review_form.submit();
}

-->
</script>


<a id="yelphref" href="" data-remote="true"></a>

<div class="wrapper">
	<div class="cards">
	<%= form_tag({:action => 'add_review', :controller => 'locations'}, {:id => "add_review_form"}) do |f| %>
		<%= hidden_field_tag("hidden_address", "", {:class => "hidden_address"}) %>
		<%= hidden_field_tag("hidden_name", "", {:class => "hidden_name"}) %>
	<% end %>

	<%= form_tag({:action => 'detail', :controller => 'locations'}, {:id => "card_form"}) do |f| %>
		<div class="card" id="carddiv" onclick="card_form.submit();">
			<div class="card-header">
				<div class="legend-indicator">
					<span>1</span>
				</div>

				<div class="rating">Member Rating &#x2605; &#x2605; &#x2605; &#9734; &#9734;<button id="addreviewbutton" type="button" onclick="addReviewButtonClicked(event);">Add Rating</button></div>
	
			</div>
			<div class="card-content"  		
						<div class="card-image"></div>
						
						<p class="name" id="name"></p>
						<p class="address" id="address"></p>
						
						<%= hidden_field_tag("hidden_address", "", {:class => "hidden_address"}) %>
						<%= hidden_field_tag("hidden_name", "", {:class => "hidden_name"}) %>


						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem explicabo possimus qui nesciunt. Ipsa, tempora, et mollitia quam dolores magnam temporibus necessitatibus quisquam ad repellendus natus facere voluptates quasi commodi.</p>

						<div class="other-ratings">
							Google<div class="google" id="google"></div>
							Yelp<div class="yelp" id="yelpdiv"></div>
						</div>
			</div>
		</div>
	<% end %>
	
	</div>
</div>

