<script src="http://maps.googleapis.com/maps/api/js?sensor=true&libraries=places" type="text/javascript"></script>

<p><div id="googlemap" style="margin:auto; width:60%; height: 360px"></div></p>

<script type="text/javascript">	
<!--

var defaultZoom = 16;

// create map and add controls
var mapOptions = {
	zoom: defaultZoom,
	mapTypeId: google.maps.MapTypeId.ROADMAP,
	scrollwheel: false,
	scaleControl: false
};

//document.getElementById('googlemap').style.display = 'none';

var map = new google.maps.Map(document.getElementById('googlemap'),mapOptions);

function initialize() {

	var request = {
    reference: '<%=escape_javascript @location.googlereference %>'
	};

  var service = new google.maps.places.PlacesService(map);

	service.getDetails(request, function(place, status) {
    if (status == google.maps.places.PlacesServiceStatus.OK) {
    	
      var marker = new google.maps.Marker({
        map: map,
        position: place.geometry.location
      });
      
      document.getElementById("location_address").value = place.formatted_address;
			document.getElementById("location_location_name").value = place.name;
			
			
    }
  });
  
}

google.maps.event.addDomListener(window, 'load', initialize);

-->
</script>

<%= form_for(@location, html: { class: "form-horizontal" }) do |f| %>

	<%= hidden_field_tag(:yelpbusinessid, @location.yelpbusinessid) %>
	<%= hidden_field_tag(:googleid, @location.googleid) %>
	<%= hidden_field_tag(:googlereference, @location.googlereference) %>


  <div class="row-fluid">

    <div class="span5">

      <div class="control-group">
        <%= f.label :address, "Address", class: "control-label" %>
        <div class="controls">
          <%= f.text_field :address, class: "span12" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :location_name, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :location_name, class: "span12" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :phone_number, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :phone_number, class: "span12" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :district, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :district, class: "span12" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :postcode, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :postcode, class: "span12" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :city, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :city, class: "span12" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :country, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :country, class: "span12" %>
        </div>
      </div>
      
      <div class="control-group">
      	Category 1
		    <div class="controls">
					<input name="starCat1" type="radio" class="star {split:2}" value="1"/>
					<input name="starCat1" type="radio" class="star {split:2}" value="2"/>
					<input name="starCat1" type="radio" class="star {split:2}" value="3"/>
					<input name="starCat1" type="radio" class="star {split:2}" value="4"/>
					<input name="starCat1" type="radio" class="star {split:2}" value="5"/>
					<br>
					<textarea cols="30" rows="3" name="Cat1Comment"></textarea>
        </div>
			</div>
			
      <div class="control-group">
      	Category 2
		    <div class="controls">
					<input name="starCat2" type="radio" class="star {split:2}" value="1"/>
					<input name="starCat2" type="radio" class="star {split:2}" value="2"/>
					<input name="starCat2" type="radio" class="star {split:2}" value="3"/>
					<input name="starCat2" type="radio" class="star {split:2}" value="4"/>
					<input name="starCat2" type="radio" class="star {split:2}" value="5"/>
					<br>
					<textarea cols="30" rows="3" name="Cat2Comment"></textarea>
				</div>
			</div>
			
      <div class="control-group pull-right">
        <%= f.submit "Save Review", class: 'btn' %>
      </div>
      
			<p>
				<b>Avg Cat1 rating:</b>
				<%= @location.average_cat1_rating %>
			</p>

			<p>
				<b>Avg Cat2 rating:</b>
				<%= @location.average_cat2_rating %>
			</p>      
      
    </div>
  </div>
  
<% end %>

