<script src="http://maps.googleapis.com/maps/api/js?sensor=true&libraries=places" type="text/javascript"></script>

<p><div id="googlemap" style="margin:auto; width:60%; height: 360px"></div></p>

<style type="text/css">
	/** FIX for Bootstrap and Google Maps Info window styes problem **/
	img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
	max-width: none;
}
</style>

<script type="text/javascript">	
<!--

var defaultZoom = 16;

// create map and add controls
var mapOptions = {
	zoom: defaultZoom,
	mapTypeId: google.maps.MapTypeId.ROADMAP,
	scrollwheel: false,
	scaleControl: false
};

var infowindow = new google.maps.InfoWindow();

document.getElementById('googlemap').style.display = 'none';

var map = new google.maps.Map(document.getElementById('googlemap'),mapOptions);

function initialize() {

	var ref = '<%=escape_javascript @location.googlereference %>';

	if (!ref) {
	
		var defLat = "42.35843";
		var defLong = "-71.05977";			
		var defaultPoint = new google.maps.LatLng(defLat, defLong);
		var geocoder = new google.maps.Geocoder();
  
  	var marker = new google.maps.Marker({
      map: map,
			draggable: true,
      position: defaultPoint
    });

		document.getElementById('googlemap').style.display = 'block';
		google.maps.event.trigger(map, "resize");
		map.setCenter(defaultPoint);
		
		document.getElementById("location_lat").value = defLat;
		document.getElementById("location_lng").value = defLong;
		
		document.getElementById("location_location_name").value = '<%= @searchterm %>';

		//set address field to default point
		var latlng = new google.maps.LatLng(defLat, defLong);
	  geocoder.geocode({'latLng': latlng}, function(results, status) {
	    if (status == google.maps.GeocoderStatus.OK) {
	      if (results[1]) {
					document.getElementById("location_address").value = results[1].formatted_address;
	      }
	    } else {
	      alert("Geocoder failed due to: " + status);
	    }
	  });
		
		// add a drag listener to the mapmarker
		google.maps.event.addListener(marker, "dragend", function() {
			var point = marker.getPosition();
			map.panTo(point);
			document.getElementById("location_lat").value = point.lat();
			document.getElementById("location_lng").value = point.lng();
			
			//update address field according to moved marker
			var latlng = new google.maps.LatLng(point.lat(), point.lng());
		  geocoder.geocode({'latLng': latlng}, function(results, status) {
		    if (status == google.maps.GeocoderStatus.OK) {
		      if (results[1]) {
						document.getElementById("location_address").value = results[1].formatted_address;
		      }
		    } else {
		      alert("Geocoder failed due to: " + status);
		    }
		  });
			
		});
	  	
	} else {
	
		var request = {
		  reference: ref
		};

		var service = new google.maps.places.PlacesService(map);

		service.getDetails(request, function(place, status) {
		  if (status == google.maps.places.PlacesServiceStatus.OK) {
		  	
		  	var marker = new google.maps.Marker({
		      map: map,
					draggable: false,
		      position: place.geometry.location
		    });
		    
		    marker.setIcon(/** @type {google.maps.Icon} */({
					url: place.icon,
					size: new google.maps.Size(71, 71),
					origin: new google.maps.Point(0, 0),
					anchor: new google.maps.Point(17, 34),
					scaledSize: new google.maps.Size(35, 35)
				}));
		    
				document.getElementById('googlemap').style.display = 'block';
				google.maps.event.trigger(map, "resize");
				map.setCenter(place.geometry.location);
		    
		    google.maps.event.addListener(marker, 'click', function() {
		      infowindow.setContent(place.name);
		      infowindow.open(map, this);
		    });
		    
		    document.getElementById("location_address").value = place.formatted_address;
				document.getElementById("location_location_name").value = place.name;
			
			
		  }
		});
  
  }

  
}

google.maps.event.addDomListener(window, 'load', initialize);

-->
</script>

<%= form_for(@location, html: { class: "form-horizontal" }) do |f| %>

	<%= hidden_field_tag(:yelpbusinessid, @location.yelpbusinessid) %>
	<%= hidden_field_tag(:googleid, @location.googleid) %>
	<%= hidden_field_tag(:googlereference, @location.googlereference) %>


  <div class="row-fluid">

    <div class="span5">

      <div class="control-group">
        <%= f.label :address, "Address", class: "control-label" %>
        <div class="controls">
          <%= f.text_field :address, class: "span12" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :location_name, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :location_name, class: "span12" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :phone_number, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :phone_number, class: "span12" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :district, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :district, class: "span12" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :postcode, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :postcode, class: "span12" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :city, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :city, class: "span12" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :country, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :country, class: "span12" %>
        </div>
      </div>
      
      <div class="control-group">
      	Category 1
		    <div class="controls">
					<input name="starCat1" type="radio" class="star {split:2}" value="1"/>
					<input name="starCat1" type="radio" class="star {split:2}" value="2"/>
					<input name="starCat1" type="radio" class="star {split:2}" value="3"/>
					<input name="starCat1" type="radio" class="star {split:2}" value="4"/>
					<input name="starCat1" type="radio" class="star {split:2}" value="5"/>
					<br>
					<textarea cols="30" rows="3" name="Cat1Comment"></textarea>
        </div>
			</div>
			
      <div class="control-group">
      	Category 2
		    <div class="controls">
					<input name="starCat2" type="radio" class="star {split:2}" value="1"/>
					<input name="starCat2" type="radio" class="star {split:2}" value="2"/>
					<input name="starCat2" type="radio" class="star {split:2}" value="3"/>
					<input name="starCat2" type="radio" class="star {split:2}" value="4"/>
					<input name="starCat2" type="radio" class="star {split:2}" value="5"/>
					<br>
					<textarea cols="30" rows="3" name="Cat2Comment"></textarea>
				</div>
			</div>

      <div class="control-group">
        <%= f.label :lat, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :lat, class: "span12" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :lng, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :lng, class: "span12" %>
        </div>
      </div>
      			
      <div class="control-group pull-right">
        <%= f.submit "Save Review", class: 'btn' %>
      </div>
      
			<p>
				<b>Avg Cat1 rating:</b>
				<%= @location.average_cat1_rating %>
			</p>

			<p>
				<b>Avg Cat2 rating:</b>
				<%= @location.average_cat2_rating %>
			</p>      
      
    </div>
  </div>
  
<% end %>

