<script src="http://maps.googleapis.com/maps/api/js?sensor=true&libraries=places" type="text/javascript"></script>

<p><div id="googlemap" style="margin:auto; width:60%; height: 360px"></div></p>

<style type="text/css">
	/** FIX for Bootstrap and Google Maps Info window styes problem **/
	img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
	max-width: none;
}
</style>

<script type="text/javascript">	
<!--

var defaultZoom = 16;

// create map and add controls
var mapOptions = {
	zoom: defaultZoom,
	mapTypeId: google.maps.MapTypeId.ROADMAP,
	scrollwheel: false,
	scaleControl: false
};

var infowindow = new google.maps.InfoWindow();

document.getElementById('googlemap').style.display = 'none';

var map = new google.maps.Map(document.getElementById('googlemap'),mapOptions);

function initialize() {

	var request = {
    reference: '<%=escape_javascript @location.googlereference %>'
	};

  var service = new google.maps.places.PlacesService(map);

	service.getDetails(request, function(place, status) {
    if (status == google.maps.places.PlacesServiceStatus.OK) {
    	
    	var marker = new google.maps.Marker({
        map: map,
				draggable: false,
        position: place.geometry.location
      });
      
      marker.setIcon(/** @type {google.maps.Icon} */({
				url: place.icon,
				size: new google.maps.Size(71, 71),
				origin: new google.maps.Point(0, 0),
				anchor: new google.maps.Point(17, 34),
				scaledSize: new google.maps.Size(35, 35)
			}));
      
			document.getElementById('googlemap').style.display = 'block';
			google.maps.event.trigger(map, "resize");
			map.setCenter(place.geometry.location);
      
      google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent(place.name);
        infowindow.open(map, this);
      });
      
      document.getElementById("address").innerHTML = place.formatted_address;
			document.getElementById("name").innerHTML = place.name;
			document.getElementById("googlerating").innerHTML = place.rating;
			
			//check yelp rating
			var yelpid = '<%=escape_javascript @location.yelpbusinessid %>';
			if (yelpid && yelpid.length != 0 && yelpid != null && yelpid != 'undefined') {
				document.getElementById("yelphref").href = "/locations/searchyelp_byid?yelpid=" + yelpid;
				document.getElementById("yelphref").click();			
			}	else {
				document.getElementById("yelphref").href = "/locations/searchyelp?term=" + place.name + "&state=" + place.address_components[3].short_name + "&city=" + place.address_components[2].short_name + "&adr=" + place.address_components[0].long_name + ' ' + place.address_components[1].short_name;
				document.getElementById("yelphref").click();
			}
			
    }
  });


  
}

google.maps.event.addDomListener(window, 'load', initialize);

-->
</script>

<a id="yelphref" href="" data-remote="true"></a>
 
<h1>Detail</h1>
<%= form_tag({:action => 'add_review', :controller => 'locations'}, {:id => "detail_form"}) do |f| %>
	<%= submit_tag("Add Review") %>
	
	<%= hidden_field_tag(:hidden_yelpbusinessid1, @location.yelpbusinessid) %>
	<%= hidden_field_tag(:hidden_googleid, @location.googleid) %>
	<%= hidden_field_tag(:hidden_googlereference, @location.googlereference) %>
	
	<!--
	<br>
	<b>googleref:</b><%= @location.googlereference %>
	<br>
	<b>googleid:</b><%= @location.googleid %>
	<br>
	<b>yelpid:</b><%= @location.yelpbusinessid %>
	-->
	
	<br>
	<b>Name:</b><p class="name" id="name"></p>
	<b>Address:</b><p class="address" id="address"></p>
	<b>Google rating:</b><p class="googlerating" id="googlerating"></p>
	<b>Yelp rating:</b><p class="yelprating" id="yelprating"></p>
	
  <p>
    <b>Avg Cat1 rating:</b>
    <%= @location.average_cat1_rating %>
  </p>

  <p>
    <b>Avg Cat2 rating:</b>
    <%= @location.average_cat2_rating %>
  </p>

<% end %>
