<script src="http://maps.googleapis.com/maps/api/js?sensor=true&libraries=places" type="text/javascript"></script>

<p><div id="googlemap" style="margin:auto; width:60%; height: 360px"></div></p>

<script type="text/javascript">	
<!--

var defaultZoom = 16;

// create map and add controls
var mapOptions = {
	zoom: defaultZoom,
	mapTypeId: google.maps.MapTypeId.ROADMAP,
	scrollwheel: false,
	scaleControl: false
};

document.getElementById('googlemap').style.display = 'none';

var map = new google.maps.Map(document.getElementById('googlemap'),mapOptions);

function initialize() {

	var request = {
    reference: '<%=escape_javascript @location.googlereference %>'
	};

  var service = new google.maps.places.PlacesService(map);

	service.getDetails(request, function(place, status) {
    if (status == google.maps.places.PlacesServiceStatus.OK) {
    	
      var marker = new google.maps.Marker({
        map: map,
        position: place.geometry.location
      });
      
      document.getElementById("address").innerHTML = place.formatted_address;
			document.getElementById("name").innerHTML = place.name;
    }
  });
  
}

google.maps.event.addDomListener(window, 'load', initialize);

-->
</script>


<h1>Detail</h1>
<%= form_tag({:action => 'add_review', :controller => 'locations'}, {:id => "detail_form"}) do |f| %>
	<%= submit_tag("Add Review") %>
	
	<%= hidden_field_tag(:hidden_yelpbusinessid1, @location.yelpbusinessid) %>
	<%= hidden_field_tag(:hidden_googleid, @location.googleid) %>
	<%= hidden_field_tag(:hidden_googlereference, @location.googlereference) %>
	
	<br>
	<b>Name:</b><p class="name" id="name"></p>
	<b>Address:</b><p class="address" id="address"></p>
	
  <p>
    <b>Avg Cat1 rating:</b>
    <%= @location.average_cat1_rating %>
  </p>

  <p>
    <b>Avg Cat2 rating:</b>
    <%= @location.average_cat2_rating %>
  </p>

<% end %>
