<div class="span11">
  <h3>Listing locations</h3>

  <table>
    <tr>
      <th>Location name</th>
      <th>Address</th>
      <th>City</th>
      <th>Country</th>
      <th>Date</th>
    </tr>

  <% @locations.each do |location| %>
    <tr>
      <td><%= link_to location.location_name, location %></td>
      <td><%= location.address %></td>
      <td><%= location.city %></td>
      <td><%= location.country %></td>
      <td><%= location.created_at.to_s(:short) %></td>
      <td><%= link_to "Delete", location_path(location), method: :delete, data: { confirm: 'Sure you want to delete location? Will also delete related ratings.' } if admin? %></td>
    </tr>
  <% end %>
  </table>


</div>
