<div class="span11">
	<!--
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
	-->
	
  <p>
    <b>Address:</b>
    <%= @location.address %>
  </p>

  <p>
    <b>Location name:</b>
    <%= @location.location_name %>
  </p>

  <p>
    <b>City:</b>
    <%= @location.city %>
  </p>

  <p>
    <b>Country:</b>
    <%= @location.country %>
  </p>

  <p>
    <% if current_user.present? %>
    	<!-- user logged in -->
				<% if !Rating.where(:user_id => current_user.id, :location_id => @location.id).blank? %>
		  		<!-- user has rated this location earlier -->
		  		<% @rating = current_user.ratings.where(location_id: @location.id).first %>
		  		<% @rating.Cat1comment %>
				 	<%= form_for :rating, :url => edit_rating_path(:id => @rating.id) do |f| %>
				    <b>Your Cat1 rating:</b><br>
						<% (1..5).each do |i| %>
							<% if i == current_user_cat1_rating %>
								<input name="starCat1" type="radio" class="star" checked="checked" value="<%= i %>"/>
							<% else %>
								<input name="starCat1" type="radio" class="star" value="<%= i %>"/>
							<% end %>
						<% end %>
						<br>
						<textarea cols="30" rows="3" name="Cat1Comment"><%= @rating.Cat1comment %></textarea>
						<br>
				    <b>Your Cat2 rating:</b><br>
						<% (1..5).each do |i| %>
							<% if i == current_user_cat2_rating %>
								<input name="starCat2" type="radio" class="star" checked="checked" value="<%= i %>"/>
							<% else %>
								<input name="starCat2" type="radio" class="star" value="<%= i %>"/>
							<% end %>
						<% end %>
						<br>
						<textarea cols="30" rows="3" name="Cat2Comment"><%= @rating.Cat2comment %></textarea>
						<br>
						<%= f.submit "Update" %>
					<% end %>
				<% else %>
		  		<!-- user has NOT rated this location -->
				 	<%= form_for :rating, :url => new_rating_path(:location_id => @location.id) do |f| %>
				    <b>Your Cat1 rating:</b><br>
						<% (1..5).each do |i| %>
							<% if i == current_user_cat1_rating %>
								<input name="starCat1" type="radio" class="star" checked="checked" value="<%= i %>"/>
							<% else %>
								<input name="starCat1" type="radio" class="star" value="<%= i %>"/>
							<% end %>
						<% end %>
						<br>
						<textarea cols="30" rows="3" name="Cat1Comment"></textarea>
						<br>
				    <b>Your Cat2 rating:</b><br>
						<% (1..5).each do |i| %>
							<% if i == current_user_cat2_rating %>
								<input name="starCat2" type="radio" class="star" checked="checked" value="<%= i %>"/>
							<% else %>
								<input name="starCat2" type="radio" class="star" value="<%= i %>"/>
							<% end %>
						<% end %>
						<br>
						<textarea cols="30" rows="3" name="Cat2Comment"></textarea>
						<br>
						<%= f.submit "Update" %>		  
					<% end %>
				<% end %>
    <% else %>
			<!-- user not logged in -->
			If you login you can rate this location!				
    <% end %>
  </p>

  <p>
    <b>Avg Cat1 rating:</b>
    <%= @location.average_cat1_rating %>
  </p>

  <p>
    <b>Avg Cat2 rating:</b>
    <%= @location.average_cat2_rating %>
  </p>

  <p>
    <b>Lat:</b>
    <span id="location_lat"><%= @location.lat %></span>
  </p>

  <p>
    <b>Lng:</b>
    <span id="location_lng"><%= @location.lng %></span>
  </p>

  <%= render :partial => "googlemap_show" %>
  
  <!-- only for cleanup -->
  <!-- deletes location, including all ratings for that location -->
  <!--
  <%= form_for :rating, :method => :delete, :remote => true do |f| %>
		<%= f.submit :value => "Delete" %>
	<% end %>
	-->
	
</div>
